doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/styles.css')
.container
  main
    h1 ABOUT US
    p
      | Welcome to our Website! We are passionate about sharing knowledge and experiences with our nation. We are delighted to have your babies at our centre. We are looking  forward to taking care of them as recomended
    p
      | We allow babies from four months to four years old. We are located in Kabalagara in Kampala city.  Our centre is open from monday to sturday, 7:00am to 6:00pm and from January to December where by we work every day.We have abig compound wher children can lplay and have fun from, a swimming pool for babies who know how to swim and all other playing materials. We also have well trained sitters who take care of the babies.
