doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DASHBOARD
  link(rel='stylesheet' href='/css/dash.css')
h1 Adimin dashboard
.container
  ul
    li
      a(href='babydashboard')  Baby
    li
      a(href='sitterdashboard')  Sitter
    li
      a(href='registerparent')  Parent
    li
      a(href='payment') Add Payments
    li
      a(href='procure') Add Items and Cost
    li
      a(href='feedback') Feedback
    li
      a(href='review') Review