doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DASHBOARD
  link(rel='stylesheet' href='/css/dash.css')
h1 Adimin dashboard
.container
  ul
    li
      a(href='registerbaby') Add Baby
    li
    
      a(href='registersitter') Add Sitter
    li
      a(href='payment.html') Add Payments
    li
      a(href='procure.html') Add Items and Cost
    li
      a(href='checkin.html') checkin form
    li
      a(href='quiz.html') Review