doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
    link(rel='stylesheet' href='/css/home.css')
.container
  h1 WELCOME TO THE ADIMIN DASHBOARD
  h2 Daystar Day-care
  .menu
    a(href='dashboard.html' onclick='showdashboardPage()') Dashboard
  #content
    // Content will be dynamically loaded here
script.
  function showSittersPage() {
  document.getElementById('content').innerHTML = `<h3>Sitters Page</h3><p>Dummy data for sitters metrics can be displayed here.</p>`;
  }
  function showBabiesPage() {
  document.getElementById('content').innerHTML = `<h3>Babies Page</h3><p>Dummy data for babies metrics can be displayed here.</p>`;
  }
  function showProcurementPage() {
  document.getElementById('content').innerHTML = `<h3>Procurement Page</h3><p>Dummy data for procurement metrics can be displayed here.</p>`;
  }
  function showPaymentsPage() {
  document.getElementById('content').innerHTML = `<h3>Payments Page</h3><p>Dummy data for payments metrics can be displayed here.</p>`;
  }
  // Show home page by default
  showHomePage();