doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Time and Payments Form
  link(rel='stylesheet' href='/css/pay.css')
.container
  h2 Time and Payments Form
  form#paymentform(action='/payment' method='POST')
    label(for='date') Date:
    input#date(type='date' name='date' )
    br
    br
    label(for='name') Name:
    input#name(type='text' name='name' )
    br
    br
    label(for='numberOfBabies') Number of Babies Attended:
    select#numberOfBabies(name='numberOfBabies')
      option(value='0') 0
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
      option(value='4') 4
      option(value='5') 5
      option(value='6') 6
      option(value='7') 7
      option(value='8') 8
      option(value='9') 9
      option(value='10') 10
    label(for='totalPayment') Total Payment:
    input#totalPayment(type='text', readonly='true' name="totalPayment")
    br
    br
    button(type='submit') Submit

    <script src="/js/pay.js"></script>   
