doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Procurement corner
  link(rel='stylesheet' href='/css/proc.css')
.container
  h1 WELCOME TO THE PROCUREMENT CORNER
  h2 Daystar Day-care
  .menu
    a(href='expence' onclick='showexpensepage()') expense
    a(href='sell-item' onclick='showpurchasepage()') dastar dolls
  #content
    // Content will be dynamically loaded here
script.
  function showExpensePage() {
  document.getElementById(
  "content"
  ).innerHTML = `<h3>Expense Page</h3><p>This is the dashboard page. You can display various metrics and information here.</p>`;
  }
  function showPurchasePage() {
  document.getElementById(
  "content"
  ).innerHTML = `<h3>Purchase Page</h3><p>This is the statistics page. You can display statistical data and analysis here.</p>`;
  }
  // Show dashboard page by default
  showDashboardPage();
