doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Daystar Dolls
  link(rel='stylesheet' href='/css/preci.css')
.container
  .product
    img(src='./images/doll.jpeg' alt='doll')
    .product-title doll 1
    .product-price $19.99
    button.buy-button(data-product-id='1') Buy Now
  .product
    img(src='./images/doll 2.jpeg' alt='doll 2')
    .product-title doll 2
    .product-price $29.99
    button.buy-button(data-product-id='2') Buy Now
  .product
    img(src='./images/doll 3.jpeg' alt='doll 3')
    .product-title doll 3
    .product-price $39.99
    button.buy-button(data-product-id='3') Buy Now
  .product
    img(src='./images/doll 4.jpeg' alt='doll 4')
    .product-title doll 4
    .product-price $49.90
    button.buy-button(data-product-id='4') Buy Now
  .product
    img(src='./images/doll 5.jpeg' alt='doll 5')
    .product-title doll 5
    .product-price $59.99
    button.buy-button(data-product-id='5') Buy Now
  .product
    img(src='./images/doll 6.jpeg' alt='doll 6')
    .product-title doll 6
    .product-price $69.99
    button.buy-button(data-product-id='6') Buy Now
  .product
    img(src='./images/doll 7.jpeg' alt='doll 7')
    .product-title doll 7
    .product-price $79.99
    button.buy-button(data-product-id='7') Buy Now
  .product
    img(src='./images/doll 8.jpeg' alt='doll 8')
    .product-title doll 8
    .product-price $89.99
    button.buy-button(data-product-id='8') Buy Now
  .product
    img(src='./images/doll 9.jpeg' alt='doll 9')
    .product-title doll 9
    .product-price $99.99
    button.buy-button(data-product-id='9') Buy Now
// Add more products as needed
script.
  // Get all "Buy Now" buttons
  var buyButtons = document.querySelectorAll(".buy-button");
  // Add click event listener to each button
  buyButtons.forEach(function (button) {
  button.addEventListener("click", function () {
  // Get the product ID
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  var productId = button.getAttribute("data-product-id");
  // Redirect to the product details page with the product ID
  window.location.href = "doll.html?id="1"; data-product-id ="1" ;
  // Redirect to another page after form submission
  window.location.href = "doll.html";
  });
  });

