doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DASHBOARD
  link(rel='stylesheet' href='/css/dash.css')
h1 Sitter dashboard
.container
  ul
    li
      a(href='registersitter') Add Sitter
    li
      a(href='sittersList') Registered sitter
    li
      a(href='sitterrendered') Clockedin
    li
      a(href='sitterrenderedout') Clockedout