doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Welcome Page
  link(rel='stylesheet' href='./css/wel.css')
.container
  h1 Welcome!
  .icons
    //- #sitterIcon.icon
    //-   img(src='sitter_icon.png' alt='Sitter')
    //-   p Sitter
    #adminIcon.icon
      img(src='admin_icon.png' alt='Admin')
      p Admin
    //- #parentIcon.icon
    //-   img(src='parent_icon.png' alt='Parent')
    //-   p Parent
script.
  // Add click event listeners to each icon
  document
  .getElementById("sitterIcon")
  .addEventListener("click", function () {
  window.location.href = "feedback"; // Redirect to sitter sign-in page
  });
  document
  .getElementById("adminIcon")
  .addEventListener("click", function () {
  window.location.href = "registeradmin"; // Redirect to admin sign-in page
  });
  document
  .getElementById("parentIcon")
  .addEventListener("click", function () {
  window.location.href = "registerparent"; // Redirect to parent sign-in page
  });
