body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #D90077;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu a {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #8800C7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #FBBEDE;
}