
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f4f4f4;
}
.quiz-container {
background-color: #A44CD3;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
width: 400px;
}
.question {
margin-bottom: 20px;
}
.options label {
display: block;
margin-bottom: 10px;
}
.btn {
background-color: #D90077;
color: #fff;
border: none;
padding: 8px 16px;
cursor: pointer;
border-radius: 3px;
}
.btn:hover {
background-color: #FBBEDE;
}