 
    body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .container {
    background-color:#FBBEDE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
    margin-bottom: 20px;
    }
    .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#D90077;
    width: 120px;
    height: 120px;
    margin: 20px;
    cursor: pointer;
    }
    .icon img {
    max-width: 80px;
    max-height: 80px;
    }
    .icon p {
    margin-top: 10px;
    font-size: 16px;
    }